<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add new assignee</title>
</head>
<body>
<h1>Add new Assignee:</h1>
    <form action="#" th:action="|/todo/assignee/edit|" th:object="${assignee}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}"><br>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>