<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit Assignee</title>
</head>
<body>
<h1> Edit Assignee </h1>
<form action="#" th:action="|/todo/assignee/edit|" th:object="${assignee}" method="POST">
    <input type="hidden" th:field="*{id}">
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}"><br>
    <label for="email">Name</label>
    <input type="text" id="email" th:field="*{email}"><br>
    <input type="submit" value="Submit">
    <a href="/todo/assignee/list">Cancel</a>
</form>

</body>
</html>