<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/todo.css">
    <title>todolist</title>
</head>
<body>
    <h1>Todos for today:</h1>
    <div>
        <a href="/todo/add">Add new todo</a>
    </div><br>
    <table>
            <thead>
                <tr>
                    <th> id </th>
                    <th> title </th>
                    <th> urgent </th>
                    <th> done </th>
                </tr>
            </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td><span th:text="${todo.getId()}">  </span></td>
                <td><span th:text="${todo.getTitle()}">  </span></td>
                <td><span th:text="${todo.isUrgent()}">  </span></td>
                <td><span th:text="${todo.isDone()}">  </span></td>
                <td><span> <a th:href="@{'/todo/' + ${todo.getId()} + '/delete'}" th:text="delete"></a></span></td>
                <td><span> <a th:href="@{'/todo/' + ${todo.getId()} + '/edit'}" th:text="edit"></a></span></td>
            </tr>
        </tbody>
    </table> <br>
    <a href="/todo/assignee/list">List of assignees</a>
</body>
</html>